__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
env/
venv/

.pytest_cache/
.hypothesis/
.ruff_cache/
.mypy_cache/
.tox/

.idea/
.vscode/

dist/
build/

*.egg-info/

coverage.xml
.coverage

pip-wheel-metadata/
